.page4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  width: 100%;
  background-color: #E5D9B6;
  margin-bottom: 3%;
  // transform: skewY(7deg);
  .title{
    color: #285430;
    font-size: 20px;
    width: 88%;
    margin-top: 2%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 1%;
    text-shadow: -1px -1px 0 #efe4d1,
              1px -1px 0 #efe4d1,
              -1px 1px 0 #efe4d1,
              1px 1px 0 #efe4d1;
    
  }
  .data-area {
    display: flex;
    flex-direction: column;
    .time {
      margin-bottom: 1%;
    }
    .sub-title {
      margin-bottom: 1%;
    }
    .introduce{
      display: flex;
    flex-direction: column;
      .introduce-inner {
        display: flex;
        flex-direction: row;
        margin-top: 1%;
        margin-bottom: 2%;
        .one-column {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          text-align: start;

        }
        .two-column {
          display: flex;
          flex-direction: column;
          text-align: start;
          margin-left: 3%;
        }
      }
      
    }
  }
  
}